\NeedsTeXFormat{LaTeX2e}
\ProvidesPackage{cortex}[2021/07/07 Open source science articles]

% Imports
\RequirePackage{mathtools} % equation tags
\RequirePackage{xcolor} % custom colors
\RequirePackage[hidelinks]{hyperref} % url links
\RequirePackage{suffix} % allows definition of starred commmands
\RequirePackage{ifxetex}
\ifxetex
  \RequirePackage{fontspec}
  \defaultfontfeatures{Extension = .otf}
\fi
\RequirePackage{fontawesome} % FontAwesome symbols
\RequirePackage{letltxmacro} % command redefinitions
\RequirePackage{xstring} % string manipulation
\RequirePackage{catchfile} % read file into macro

% Package options
% TODO


% Author info
\newcommand{\myName}{((- author.name -))}
\newcommand{\myEmail}{((- author.email -))}
\newcommand{\myAffil}{((- author.affil -))}
\newcommand{\myORCID}{((- author.orcid -))}

% Define custom colors
\definecolor{ctxGreen}{rgb}{0.13333333,0.5254902,0.22745098}
\definecolor{ctxRed}{rgb}{0.79607843,0.14117647,0.19215686}
\definecolor{ctxYellow}{rgb}{1.0,0.88,0.30}
\definecolor{ctxBlue}{rgb}{0.1216,0.4667,0.7059}

% Define color error codes
\colorlet{ctxGithubLinkError}{ctxRed}
\colorlet{ctxGithubLinkAllGood}{ctxBlue}
\colorlet{ctxFigureScriptNotFound}{ctxRed}
\colorlet{ctxFigureScriptNotVersionControlled}{ctxRed}
\colorlet{ctxFigureScriptUnknownError}{ctxRed}
\colorlet{ctxFigureScriptHasUncommittedChanges}{ctxYellow}
\colorlet{ctxFigureScriptUpToDate}{ctxBlue}


\RequirePackage{totcount}
\newtotcounter{ctxGithubErrors}

% Add a GitHub link to the end of the abstract
\let\oldabstract\abstract
\let\oldendabstract\endabstract
\renewenvironment{abstract}{%
  \oldabstract%
}{%
  \href{((- repo.url -))}{
    \ifnum\totvalue{ctxGithubErrors}=0%
      \color{ctxGithubLinkAllGood}%
      \faGithub
    \else%
      \color{ctxGithubLinkError}%
      \faGithub
      \, \textbf{[\total{ctxGithubErrors}]}
    \fi%
  }
  \oldendabstract%
}

% Redefine `\includegraphics' to process current figure script
\LetLtxMacro\oldincludegraphics\includegraphics
\renewcommand{\includegraphics}[2][]{%
  %
  % Infer the name of the script that generated the current figure
  % xxx.yyy --> xxx.py
  % xxx_yyy.zzz --> xxx.py
  \StrBefore{#2_}{_}[\strOne]%
  \StrBefore{\strOne.}{.}[\strTwo]%
  \edef\ctxCurrentFigureScript{\strTwo.py}%
  %
  % Determine the color of the link based on whether the file is
  % up-to-date, has uncommited changes, doesn't exist, isn't tracked,
  % etc.
  \IfFileExists{../figures/\strTwo.py}{%
    \IfFileExists{../figures/\strTwo.py.cortex}{%
      % Read the color from the .cortex tmp file
      \CatchFileEdef{\ctxCurrentFigureColor}{%
        ../figures/\strTwo.py.cortex%
      }{\endlinechar=-1}%
      \def\tmpstr{ctxFigureScriptUpToDate}%
      \ifx\ctxCurrentFigureColor\tmpstr\else\addtocounter{ctxGithubErrors}{1}\fi%
    }{%
      % The .cortex file is missing, so something went wrong
      \addtocounter{ctxGithubErrors}{1}
      \def\ctxCurrentFigureColor{ctxFigureScriptUnknownError}%
    }%
  }{%
    % The figure script itself is missing
    \addtocounter{ctxGithubErrors}{1}
    \def\ctxCurrentFigureColor{ctxFigureScriptNotFound}%
  }
  %
  % Include the figure as usual
  \oldincludegraphics[#1]{#2}%
}

% Add a GitHub link to figure captions
\renewcommand{\figurename}{%
  \href{%
    ((- repo.url -))/blob/((- repo.sha -))/figures/\ctxCurrentFigureScript%
  }{\color{\ctxCurrentFigureColor}\faGithub} Figure%
}

% Set the graphics path for figures
\graphicspath{{../figures/}}