# Project-specific
.env
.snakemake
.cortex/data/*.json
.cortex/tex/cortex.sty
tests/*.status
tex/aasjournal.bst
tex/aastex62.cls
tex/cortex.sty
tex/revtex4-1.cls
tex/xstring.tex
tex/xstring.sty
tex/cortex.xml

# VSCode
.vscode
*.code-workspace

# Python
*.ipynb_checkpoints
*.pyc
*.pytest_cache
*__pycache__*

# MacOS
*.DS_Store

# Output
*.pdf

# LaTeX
*.log
*.blg
*.bbl
*.aux
*.out