# Project-specific
.env
envs
.cache
.snakemake
.showyourwork/data/*.json
!.showyourwork/data/user-cache.json
.showyourwork/tex/showyourwork.sty
tests/*.status
tex/aasjournal.bst
tex/aastex62.cls
tex/showyourwork.sty
tex/revtex4-1.cls
tex/xstring.tex
tex/xstring.sty
tex/showyourwork.xml
tex/showyourwork.png

# VSCode
.vscode
*.code-workspace

# Python
*.ipynb_checkpoints
*.pyc
*.pytest_cache
*__pycache__*

# MacOS
*.DS_Store

# Output
*.pdf

# LaTeX
*.log
*.blg
*.bbl
*.aux
*.out