# Project-specific
.env
.snakemake
cortex/data/meta.json

# VSCode
.vscode
*.code-workspace

# Python
*.ipynb_checkpoints
*.pyc
*.pytest_cache
*__pycache__*

# MacOS
*.DS_Store

# Output
*.pdf

# LaTeX
*.log
*.blg
*.bbl
*.aux
*.out

# Development only! 
clean
tex/.gitignore