repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude_types: [json, binary]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: "25.9.0"
    hooks:
      - id: black-jupyter
        exclude: "^docs/|^tests/projects/"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.0"
    hooks:
      - id: ruff
        exclude: "^docs/|^tests/projects/"
        args: [--fix, --exit-non-zero-on-fix]
