repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude_types: [json, binary]
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: "23.1.0"
    hooks:
      - id: black-jupyter
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.239"
    hooks:
      - id: ruff
  - repo: https://github.com/kynan/nbstripout
    rev: "0.6.0"
    hooks:
      - id: nbstripout
