[tool.snakefmt]
line_length = 79
include = '\.smk$|^Snakefile$'

[tool.black]
line-length = 79
skip_string_normalization = true
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''
