\NeedsTeXFormat{LaTeX2e}
\ProvidesPackage{showyourwork}[2021/07/07 Open source science articles]


% Imports
\RequirePackage{mathtools} % equation tags
\RequirePackage{xcolor} % custom colors
\RequirePackage[hidelinks]{hyperref} % url links
\RequirePackage{suffix} % allows definition of starred commmands
\RequirePackage{ifxetex}
\ifxetex
  \RequirePackage{fontspec}
  \defaultfontfeatures{Extension = .otf}
\fi
\RequirePackage{fontawesome} % FontAwesome symbols
\RequirePackage{letltxmacro} % command redefinitions
\RequirePackage{xstring} % string manipulation
\RequirePackage{catchfile} % read file into macro
\RequirePackage{totcount} % count total number of errors
\RequirePackage[notref, notcite]{showkeys} % get label refs
\RequirePackage{marginnote} % margin notes
\RequirePackage{xspace} % better spacing after icons

\newcommand{\showyourwork}{%
    \href{https://github.com/rodluger/showyourwork}%
    {\raisebox{-1.3ex}{\includegraphics[width=7em]{showyourwork.pdf}}}\hspace{0.2em}%
}

((* if gen_tree *))

% Logging
\newwrite\sywLogFile
\immediate\openout\sywLogFile=showyourwork.xml
\newcommand\sywLogMessage[1]{%
  \protected@write
  \sywLogFile
  {\let\tmp\write\def\write{\immediate\tmp}}%
  {#1}%
}
\sywLogMessage{<HTML>}
\AtEndDocument{\sywLogMessage{</HTML>}}

% Log all figure and equation labels
\renewcommand\showkeyslabelformat[1]{%
  \IfBeginWith*{#1}{eq:}{%
    % Equation label
    \StrBehind*{#1}{eq:}[\sywCurrentLabelName]
    \sywLogMessage{<LABEL>\sywCurrentLabelName</LABEL>}%
  }{}
  \IfBeginWith*{#1}{fig:}{%
    % Figure label
    \StrBehind*{#1}{fig:}[\sywCurrentLabelName]
    \sywLogMessage{<LABEL>\sywCurrentLabelName</LABEL>}%
  }{}
}

% Log figures
\let\oldfigure\figure
\let\oldendfigure\endfigure
\renewenvironment{figure}{%
  \sywLogMessage{<FIGURE>}%
  \oldfigure%
}{%
  \oldendfigure%
  \sywLogMessage{</FIGURE>}%
}

% Log equations
\let\oldalign\align
\let\oldendalign\endalign
\renewenvironment{align}{%
  \sywLogMessage{<ALIGN>}%
  \oldalign%
}{%
  \oldendalign%
  \sywLogMessage{</ALIGN>}%
}

% Log figure captions
\renewcommand{\caption}{%
  \sywLogMessage{<CAPTION />}%
}

% Log graphics
\renewcommand{\includegraphics}[2][]{%
  \sywLogMessage{<GRAPHICS>#2</GRAPHICS>}%
}

% Disable bibliography
\renewcommand{\bibliography}[1]{}

% Disable user-facing commands
\newcommand\GitHubSHA{}
\newcommand\GitHubIcon{}
\newcommand\GitHubIconRed{}
\newcommand\GitHubIconOrange{}
\newcommand\GitHubIconYellow{}
\newcommand\GitHubIconBlue{}
\newcommand\TestPassIcon{}
\newcommand\TestFailIcon{}

((* else *))

% Logging
\newwrite\sywLogFile
\immediate\openout\sywLogFile=showyourwork.log
\newcommand\sywLogMessage[1]{%
  \protected@write
  \sywLogFile
  {\let\tmp\write\def\write{\immediate\tmp}}%
  {#1}%
}
\sywLogMessage{This is ShowYourWork v((- version -)).}

% Define custom colors
\definecolor{sywRed}{rgb}{0.80,0.14,0.19}
\definecolor{sywOrange}{rgb}{1.0,0.65,0.0}
\definecolor{sywYellow}{rgb}{1.0,0.88,0.30}
\definecolor{sywBlue}{rgb}{0.12,0.47,0.71}
\definecolor{sywGreen}{rgb}{0.13,0.53,0.23}

% Error codes (colors)
\colorlet{sywScriptDoesNotExist}{sywRed}
\colorlet{sywScriptNotVersionControlled}{sywOrange}
\colorlet{sywScriptHasUncommittedChanges}{sywYellow}
\colorlet{sywScriptUpToDate}{sywBlue}

% User-facing commands
\newcommand\GitHubSHA{((- repo.sha -))}
\newcommand\GitHubIcon{\faGithub\xspace}
\newcommand\GitHubIconRed{{\color{sywRed}\faGithub}\xspace}
\newcommand\GitHubIconOrange{{\color{sywOrange}\faGithub}\xspace}
\newcommand\GitHubIconYellow{{\color{sywYellow}\faGithub}\xspace}
\newcommand\GitHubIconBlue{{\color{sywBlue}\faGithub}\xspace}

% Key-value pairs
% See https://tex.stackexchange.com/a/48931
\def\addvalue#1#2{\expandafter\gdef\csname syw@data@\detokenize{#1}\endcsname{#2}}
\def\usevalue#1{%
\ifcsname syw@data@#1\endcsname%
  \csname syw@data@#1\expandafter\endcsname%
\else%
  \expandafter\ERROR
\fi%
}
((* for key, value in labels.items() *))
\addvalue{((- key -))}{((- value -))}
((* endfor *))

% Add a GitHub link to the end of the abstract
\let\oldabstract\abstract
\let\oldendabstract\endabstract
\renewenvironment{abstract}{%
  \oldabstract%
}{%
  \marginnote{%
    \href{((- repo.url -))/tree/((- repo.sha -))/}{%
      \color{((- status -))}%
      \faGithub%
    }%
  }
  \oldendabstract%
}

% Hack `showkeys' to show a GitHub link for figures & equations
% See https://tex.stackexchange.com/a/580553
\renewcommand\showkeyslabelformat[1]{%
  \IfBeginWith*{#1}{fig:}{\StrBehind*{#1}{fig:}[\sywCurrentLabelName]%
    \normalfont%
    \href{((- repo.url -))/blob/((- repo.sha -))/\usevalue{\sywCurrentLabelName_script}}{%
      \color{\usevalue{\sywCurrentLabelName_status}}\faGithub%
    }%
  }{}%
}

% Set the graphics path for all figures
\graphicspath{{((- graphicspath -))}}

((* endif *))
