Projects that use showyourwork
==============================

Below is a list of GitHub repositories that make use of ``showyourwork``. If you're working
on a project based on ``showyourwork``, please add it to this list by
`suggesting an edit on GitHub <https://github.com/rodluger/showyourwork/edit/main/docs/projects.json>`_.

{% for topic in projects.keys() if topic != "Uncategorized" %}

{{ topic }} articles
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

.. toctree::
    :maxdepth: 2
    {% for repo in projects.get(topic, []) %}
    {{ repo["name"] }}: {{ repo["description"] }} [{{ repo["version"] }}] <https://github.com/{{ repo["name"] }}>
    {% endfor %}

{% endfor %}

Uncategorized
^^^^^^^^^^^^^

These were found via a quick search on GitHub, and are listed in order of the
timestamp of the latest commit. If you would like to showcase one of
these, add it to our `list of curated repos <https://github.com/rodluger/showyourwork/edit/main/docs/projects.json>`_.

.. toctree::
    :maxdepth: 2
    {% for repo in projects.get("Uncategorized", []) %}
    {{ repo["name"] }} [{{ repo["version"] }}] <https://github.com/{{ repo["name"] }}>
    {% endfor %}