.. raw:: html

    <style>
        li p {
            margin-bottom: 0px;
            font-size: small;
        }

        dt {
            font-weight: unset;
        }

        dd li::marker {
            content: "";
            color: hotpink;
        }

        dd ul {
            padding-left: 0px;
        }
    </style>

Projects that use showyourwork
==============================

Below is a list of GitHub repositories that make use of ``showyourwork``. If you're working
on a project based on ``showyourwork``, please add it to this list by
`suggesting an edit on GitHub <https://github.com/rodluger/showyourwork/edit/main/docs/projects.json>`_.

{% for field in fields %}

{{ field }} articles ({{ count[field] }})
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

{% for repo in repos %}
{% if projects[repo]["field"] == field %}
- `{{ repo }} <https://github.com/{{ repo }}>`_
    - **Title:** {{ projects[repo]["title"] }}
    - **Authors:** {{ ", ".join(projects[repo]["authors"]) }}
{% if projects[repo]["doi"] == "N/A" %}
    - **DOI:** N/A
{% else %}
    - **DOI:** `{{ projects[repo]["doi"] }} <{{ projects[repo]["url"] }}>`_
{% endif %}
    - **Version:** ``{{ projects[repo]["version"] }}``
    - **Commits:** ``{{ projects[repo]["commits"] }}``
    - **Last updated:** ``{{ projects[repo]["date"].split("T")[0] }}``
{% endif %}
{% endfor %}

{% endfor %}

Uncategorized ({{ count["Uncategorized"] }})
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

These were found via a quick search on GitHub, and are listed in order of the
timestamp of the latest commit. If you would like to showcase one of
these, add it to our `list of curated repos <https://github.com/rodluger/showyourwork/edit/main/docs/projects.json>`_.

{% for repo in repos %}
{% if projects[repo]["field"] == "Uncategorized" %}
- `{{ repo }} <https://github.com/{{ repo }}>`_
    - **Version:** ``{{ projects[repo]["version"] }}``
    - **Commits:** ``{{ projects[repo]["commits"] }}``
    - **Last updated:** ``{{ projects[repo]["date"].split("T")[0] }}``
{% endif %}
{% endfor %}