name: publish

on:
  push:
    branches:
      - main
    pull_request:
    tags:
      - "*"

jobs:
  build:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: "3.10"

      - name: Build sdist
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build
          python -m build

      - uses: actions/upload-artifact@v4
        with:
          path: dist/*

  upload_pypi:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.10.1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_KEY }}
