name: publish
on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      version:
        description: Version
        required: true

jobs:
  build:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: "3.9"

      - name: Build sdist
        env:
          SETUPTOOLS_SCM_PRETEND_VERSION: ${{ github.event.inputs.version }}
        run: |
          python -m pip install --upgrade build
          python -m build

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*

  upload_pypi:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_KEY }}
